.titulo{
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: white;
}

.perguntas{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: black;
    background-color: antiquewhite;
    border-radius:30px ;
}

#ajuda{
    color: rgb(11, 142, 248);
    font-size: 40px;
    background-color:rgb(12, 243, 193);
    border-radius: 20px;
    text-align: center;
    padding: 0;
}

